*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.app {
 background-color: black;
 color: white;
}

.movie-section {
    /* background-color: aquamarine; */
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  /* background-color: cornflowerblue; */
  margin-bottom: 10px;
}

.card {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: 0.3s;
  width: 100%;
  /* background-color: coral; */
  margin: 2px;
  margin-right: 10px;
  transition: transform 500ms;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  position: relative;
  display: block;
}

video {
  width: 100%;
  height: 85%;
  border-radius: 10px;
}